# SentEval data and .pyc files



# python
__pycache__/
*.py[cod]
*$py.class

# log files
*.log
*.txt
job_output_*
examples/results/*

# data files
data/*
examples/*.pkl
examples/fasttext/*
examples/glove/*
